<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--配置dubbo的应用信息-->
    <dubbo:application name="meinian_service"></dubbo:application>

    <!--配置注册中心的地址-->
    <dubbo:registry address="zookeeper://127.0.0.1:2181"></dubbo:registry>

    <!--配置服务的协议和端口号-->
    <dubbo:protocol name="dubbo" port="20881"></dubbo:protocol>

    <!--扫描指定包下的服务进行发布-->
    <dubbo:annotation package="com.atguigu.meinian.service.impl"></dubbo:annotation>

</beans>